{
  "openapi": "3.0.0",
  "info": {
    "title": "SquadCast API ReadMe IO",
    "description": "The SquadCast API is organized around [REST](http://en.wikipedia.org/wiki/Representational_State_Transfer). Our API has predictable resource-oriented URLs, accepts [form-encoded](https://en.wikipedia.org/wiki/POST_(HTTP)#Use_for_submitting_web_forms) request bodies, returns [JSON-encoded](http://www.json.org/) responses, and uses standard HTTP response codes, authentication, and verbs.\n\n[Uptime Status](https://stats.uptimerobot.com/WqRN4hR7D)",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.squadcast.fm"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Organizations"
    },
    {
      "name": "Sessions"
    },
    {
      "name": "Shows"
    },
    {
      "name": "Webhooks"
    }
  ],
  "paths": {
    "/v2/organizations": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "Get Organization ID",
        "description": "Retrieve all sessions",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "orgID": "ID"
                }
              }
            }
          }
        }
      }
    },
    "/v2/organizations/balance": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "Get Balance",
        "description": "Retrieve all sessions",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sun, 13 Oct 2019 22:28:57 GMT"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string",
                  "example": "GET,PUT,POST,DELETE,OPTIONS"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string",
                  "example": "Origin, X-Requested-With, Content-Type, Accept, Authorization"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=86400; includeSubDomains"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"890d8-62zh6A7d/rP9FJ5kKbFNuVKCULA\""
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Via": {
                "schema": {
                  "type": "number",
                  "example": "-67301140.97213012"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "available": "00:58:06",
                  "used": "00:01:54"
                }
              }
            }
          }
        }
      }
    },
    "/v2/organizations/team": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "Get all Team Members",
        "description": "Retrieve all sessions",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sun, 13 Oct 2019 22:28:57 GMT"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string",
                  "example": "GET,PUT,POST,DELETE,OPTIONS"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string",
                  "example": "Origin, X-Requested-With, Content-Type, Accept, Authorization"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=86400; includeSubDomains"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"890d8-62zh6A7d/rP9FJ5kKbFNuVKCULA\""
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Via": {
                "schema": {
                  "type": "number",
                  "example": "-67301140.97213012"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {}
              }
            }
          }
        }
      }
    },
    "/v2/sessions": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "Get all Sessions",
        "description": "Retrieve all sessions",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "showID",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "<ShowID>"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sun, 13 Oct 2019 22:28:57 GMT"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string",
                  "example": "GET,PUT,POST,DELETE,OPTIONS"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string",
                  "example": "Origin, X-Requested-With, Content-Type, Accept, Authorization"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=86400; includeSubDomains"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"890d8-62zh6A7d/rP9FJ5kKbFNuVKCULA\""
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Via": {
                "schema": {
                  "type": "number",
                  "example": "-67301140.97213012"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {}
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Sessions"
        ],
        "summary": "Create new Session",
        "description": "Add a session",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "required": [
                  "sessionTitle",
                  "date",
                  "startTime",
                  "endTime"
                ],
                "properties": {
                  "sessionTitle": {
                    "type": "string",
                    "description": "Title your Session",
                    "example": "Your Session Title"
                  },
                  "date": {
                    "type": "string",
                    "description": "A Date to Schedule your Session in YYYY-MM-DD format",
                    "example": "2023-03-19"
                  },
                  "timeZone": {
                    "type": "string",
                    "description": "A specific timezone for your Session",
                    "example": "America/Los_Angeles"
                  },
                  "startTime": {
                    "type": "string",
                    "description": "A Start Time for your Session in hh:mm A format",
                    "example": "05:00 PM"
                  },
                  "endTime": {
                    "type": "string",
                    "description": "A End Time for your Session in hh:mm A format",
                    "example": "07:00 PM"
                  },
                  "stage": {
                    "type": "string",
                    "description": "Invite Email for on stage for your Session",
                    "example": "john@email.com"
                  },
                  "viewer": {
                    "type": "string",
                    "description": "Invite Email for backstage for your Session",
                    "example": "jane@email.com"
                  },
                  "videoEnabled": {
                    "type": "boolean",
                    "description": "Enable Video Recording for your Session (Checks your organization's Plan)",
                    "example": "true"
                  },
                  "favorite": {
                    "type": "boolean",
                    "description": "Add this Session to your favorites",
                    "example": "true"
                  },
                  "showID": {
                    "type": "string",
                    "description": "Schedule this Session for a Specific Show",
                    "example": "Show ID"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sun, 13 Oct 2019 22:48:03 GMT"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string",
                  "example": "GET,PUT,POST,DELETE,OPTIONS"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string",
                  "example": "Origin, X-Requested-With, Content-Type, Accept, Authorization"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=86400; includeSubDomains"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"ea-07MS6Fa8P0I/mbIKps0URIT46Sg\""
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Via": {
                "schema": {
                  "type": "number",
                  "example": "-67301140.97213012"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "sessionID": "Session ID",
                  "sessionTitle": "Session Title",
                  "showID": "Show ID",
                  "showTitle": "Show Name",
                  "showImg": "Show Image URL",
                  "orgID": "Org ID",
                  "date": "Date Time",
                  "startTime": "5:00 PM",
                  "endTime": "7:00 PM",
                  "videoEnabled": "true",
                  "favorite": "true",
                  "take": 0,
                  "inviteLinks": {
                    "stage": [
                      [
                        {
                          "shortLink": "https://squadcastdev.page.link/eb6Y",
                          "previewLink": "https://squadcastdev.page.link/eb6Y?d=1"
                        }
                      ]
                    ],
                    "backstage": [
                      [
                        {
                          "shortLink": "https://squadcastdev.page.link/6o2V",
                          "previewLink": "https://squadcastdev.page.link/6o2V?d=1"
                        }
                      ]
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/sessions/{id}": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "Get a Session",
        "description": "Retrieve one session",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sun, 13 Oct 2019 22:28:57 GMT"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string",
                  "example": "GET,PUT,POST,DELETE,OPTIONS"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string",
                  "example": "Origin, X-Requested-With, Content-Type, Accept, Authorization"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=86400; includeSubDomains"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"890d8-62zh6A7d/rP9FJ5kKbFNuVKCULA\""
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Via": {
                "schema": {
                  "type": "number",
                  "example": "-67301140.97213012"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "sessionTitle": "Harm Less Bakery",
                  "sessionID": "Session ID",
                  "showTitle": "Show Title",
                  "showID": "Show ID",
                  "orgID": "Org ID",
                  "date": "Date",
                  "startTime": "5:00 PM",
                  "endTime": "7:00 PM",
                  "take": "Number",
                  "videoEnabled": "true",
                  "favorite": false
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Sessions"
        ],
        "summary": "Update a Session",
        "description": "Update a session",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "sessionTitle": {
                    "type": "string",
                    "description": "Title your Session",
                    "example": "Your Session Title"
                  },
                  "date": {
                    "type": "string",
                    "description": "A Date to Schedule your Session in YYYY-MM-DD format",
                    "example": "2023-03-19"
                  },
                  "timeZone": {
                    "type": "string",
                    "description": "A specific timezone for your Session",
                    "example": "America/Los_Angeles"
                  },
                  "startTime": {
                    "type": "string",
                    "description": "A Start Time for your Session in hh:mm A format",
                    "example": "05:00 PM"
                  },
                  "endTime": {
                    "type": "string",
                    "description": "A End Time for your Session in hh:mm A format",
                    "example": "07:00 PM"
                  },
                  "stage": {
                    "type": "string",
                    "description": "Invite Email for on stage for your Session",
                    "example": "john@email.com"
                  },
                  "viewer": {
                    "type": "string",
                    "description": "Invite Email for backstage for your Session",
                    "example": "jane@email.com"
                  },
                  "favorite": {
                    "type": "boolean",
                    "description": "Add this Session to your favorites",
                    "example": "true"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/json"
          },
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sun, 13 Oct 2019 23:00:49 GMT"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string",
                  "example": "GET,PUT,POST,DELETE,OPTIONS"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string",
                  "example": "Origin, X-Requested-With, Content-Type, Accept, Authorization"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=86400; includeSubDomains"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"ea-eahrUZ+R37D2Q2jH6THR3Eyitm8\""
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Via": {
                "schema": {
                  "type": "number",
                  "example": "-67301140.97213012"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "sessionTitle": "API 2.0 Test",
                  "showID": "SHOW ID",
                  "orgID": "Org ID",
                  "date": "2023-03-19T21:00:00.000Z",
                  "startTime": "5:00 PM",
                  "endTime": "7:00 PM",
                  "invites": {
                    "stage": [
                      "email@squadcast.fm"
                    ],
                    "viewer": [
                      "email@squadcast.fm"
                    ]
                  },
                  "videoEnabled": true,
                  "favorite": true,
                  "inviteLinks": {
                    "stage": [
                      [
                        {
                          "shortLink": "stageLink",
                          "previewLink": "stageLink Preview"
                        }
                      ]
                    ],
                    "backstage": [
                      [
                        {
                          "shortLink": "backstageLink",
                          "previewLink": "backstageLink Preview"
                        }
                      ]
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Sessions"
        ],
        "summary": "Delete a Session",
        "description": "Delete a session",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "(Required) ",
            "example": "sint cillum voluptate elit"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sun, 13 Oct 2019 22:56:14 GMT"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "-42302420"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string",
                  "example": "GET,PUT,POST,DELETE,OPTIONS"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string",
                  "example": "Origin, X-Requested-With, Content-Type, Accept, Authorization"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=86400; includeSubDomains"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"2-vyGp6PvFo4RvsFtPoIWeCReyIC8\""
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "Via": {
                "schema": {
                  "type": "number",
                  "example": "-67301140.97213012"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": "OK"
                }
              }
            }
          }
        }
      }
    },
    "/v2/sessions/{id}/recordings": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "Get All Recordings from Session",
        "description": "Retrieve one session",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sun, 13 Oct 2019 22:28:57 GMT"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string",
                  "example": "GET,PUT,POST,DELETE,OPTIONS"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string",
                  "example": "Origin, X-Requested-With, Content-Type, Accept, Authorization"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=86400; includeSubDomains"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"890d8-62zh6A7d/rP9FJ5kKbFNuVKCULA\""
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Via": {
                "schema": {
                  "type": "number",
                  "example": "-67301140.97213012"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {}
              }
            }
          }
        }
      }
    },
    "/v2/sessions/{id}/recordings/{recordingID}": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "Get A Recording from Session",
        "description": "Retrieve one session",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "recordingID",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sun, 13 Oct 2019 22:28:57 GMT"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string",
                  "example": "GET,PUT,POST,DELETE,OPTIONS"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string",
                  "example": "Origin, X-Requested-With, Content-Type, Accept, Authorization"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=86400; includeSubDomains"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"890d8-62zh6A7d/rP9FJ5kKbFNuVKCULA\""
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Via": {
                "schema": {
                  "type": "number",
                  "example": "-67301140.97213012"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "recordingID": "Recording ID",
                  "fileName": "File Name",
                  "datetime": "Date Time",
                  "mp3": "MP3 Signed URL",
                  "mp4": "Mp4 Signed URL",
                  "wav": "Wac Signed URL",
                  "webm": "Webm Signed URL"
                }
              }
            }
          }
        }
      }
    },
    "/v2/sessions/{id}/invitelink": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "Get InviteLinks from Session",
        "description": "Retrieve one session",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sun, 13 Oct 2019 22:28:57 GMT"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string",
                  "example": "GET,PUT,POST,DELETE,OPTIONS"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string",
                  "example": "Origin, X-Requested-With, Content-Type, Accept, Authorization"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=86400; includeSubDomains"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"890d8-62zh6A7d/rP9FJ5kKbFNuVKCULA\""
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Via": {
                "schema": {
                  "type": "number",
                  "example": "-67301140.97213012"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {}
              }
            }
          }
        }
      }
    },
    "/v2/shows": {
      "get": {
        "tags": [
          "Shows"
        ],
        "summary": "Get all Shows",
        "description": "Retrieve all sessions",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sun, 13 Oct 2019 22:28:57 GMT"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string",
                  "example": "GET,PUT,POST,DELETE,OPTIONS"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string",
                  "example": "Origin, X-Requested-With, Content-Type, Accept, Authorization"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=86400; includeSubDomains"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"890d8-62zh6A7d/rP9FJ5kKbFNuVKCULA\""
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Via": {
                "schema": {
                  "type": "number",
                  "example": "-67301140.97213012"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {}
              }
            }
          }
        }
      }
    },
    "/v2/shows/{id}": {
      "get": {
        "tags": [
          "Shows"
        ],
        "summary": "Get a Show",
        "description": "Retrieve one session",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "showID": "Show ID",
                  "showDetails": {
                    "orgID": "Org ID",
                    "showImg": "Show Img URL",
                    "memberIDs": [
                      "Member A ID",
                      "Member B ID"
                    ],
                    "showSubtitle": "Show Description",
                    "showOwner": "Member A ID",
                    "showName": "Show Name"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/shows/{id}/team": {
      "get": {
        "tags": [
          "Shows"
        ],
        "summary": "Get Team",
        "description": "Update a session",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/x-www-form-urlencoded"
          },
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sun, 13 Oct 2019 23:00:49 GMT"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string",
                  "example": "GET,PUT,POST,DELETE,OPTIONS"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string",
                  "example": "Origin, X-Requested-With, Content-Type, Accept, Authorization"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=86400; includeSubDomains"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"ea-eahrUZ+R37D2Q2jH6THR3Eyitm8\""
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Via": {
                "schema": {
                  "type": "number",
                  "example": "-67301140.97213012"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {}
              }
            }
          }
        }
      }
    },
    "/v2/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Get all Webhooks",
        "description": "Retrieve all sessions",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sun, 13 Oct 2019 22:28:57 GMT"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string",
                  "example": "GET,PUT,POST,DELETE,OPTIONS"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string",
                  "example": "Origin, X-Requested-With, Content-Type, Accept, Authorization"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=86400; includeSubDomains"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"890d8-62zh6A7d/rP9FJ5kKbFNuVKCULA\""
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Via": {
                "schema": {
                  "type": "number",
                  "example": "-67301140.97213012"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {}
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Create a Webhook",
        "description": "Retrieve all sessions",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "url": {
                    "type": "string",
                    "example": "https://tall-birds-double-104-58-65-118.loca.lt"
                  },
                  "events": {
                    "type": "string",
                    "example": "recording_session.updated"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/x-www-form-urlencoded"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sun, 13 Oct 2019 22:28:57 GMT"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string",
                  "example": "GET,PUT,POST,DELETE,OPTIONS"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string",
                  "example": "Origin, X-Requested-With, Content-Type, Accept, Authorization"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=86400; includeSubDomains"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"890d8-62zh6A7d/rP9FJ5kKbFNuVKCULA\""
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Via": {
                "schema": {
                  "type": "number",
                  "example": "-67301140.97213012"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "id": "Webhook ID"
                }
              }
            }
          }
        }
      }
    },
    "/v2/webhooks/{id}": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Get specific Webhook",
        "description": "Retrieve all sessions",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sun, 13 Oct 2019 22:28:57 GMT"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string",
                  "example": "GET,PUT,POST,DELETE,OPTIONS"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string",
                  "example": "Origin, X-Requested-With, Content-Type, Accept, Authorization"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=86400; includeSubDomains"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"890d8-62zh6A7d/rP9FJ5kKbFNuVKCULA\""
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Via": {
                "schema": {
                  "type": "number",
                  "example": "-67301140.97213012"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "id": "Webhook ID",
                  "events": [
                    {
                      "name": "event name"
                    },
                    {
                      "name": "event name"
                    }
                  ],
                  "url": "Webhook URL"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete specific Webhook",
        "description": "Retrieve all sessions",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sun, 13 Oct 2019 22:28:57 GMT"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string",
                  "example": "GET,PUT,POST,DELETE,OPTIONS"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string",
                  "example": "Origin, X-Requested-With, Content-Type, Accept, Authorization"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=86400; includeSubDomains"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"890d8-62zh6A7d/rP9FJ5kKbFNuVKCULA\""
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Via": {
                "schema": {
                  "type": "number",
                  "example": "-67301140.97213012"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": "OK"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Update specific Webhook",
        "description": "Retrieve all sessions",
        "requestBody": {
          "content": {}
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/x-www-form-urlencoded"
          },
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sun, 13 Oct 2019 22:28:57 GMT"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string",
                  "example": "GET,PUT,POST,DELETE,OPTIONS"
                }
              },
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string",
                  "example": "Origin, X-Requested-With, Content-Type, Accept, Authorization"
                }
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string",
                  "example": "max-age=86400; includeSubDomains"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"890d8-62zh6A7d/rP9FJ5kKbFNuVKCULA\""
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Via": {
                "schema": {
                  "type": "number",
                  "example": "-67301140.97213012"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "id": "Webhook ID"
                }
              }
            }
          }
        }
      }
    }
  }
}